@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.cm-editor {
  height: 100% !important;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 16px;
}

.cm-scroller {
  overflow: auto !important;
}

/* Yjs Cursors */
.yjs-cursor {
  position: relative;
  border-left: 2px solid black;
  border-right: 2px solid transparent;
  margin-left: -2px;
  margin-right: -2px;
  min-height: 1.2em;
}

.yjs-cursor > div {
  position: absolute;
  top: -1.05em;
  left: -2px;
  font-size: 11px;
  background-color: inherit;
  font-family: sans-serif;
  color: white;
  white-space: nowrap;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  pointer-events: none;
  z-index: 10;
}
